<%= form_for [@course, @exam, @grade] do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.collection_select :student_id, @course.group.students.sort_by{ |n| n.last_name.downcase }, :id, :full_name, {}, {class: "chosen-select", multiple: false} %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :feedback %><br>
    <%= f.text_field :feedback %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
