<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @grade.student %>
</p>

<p>
  <strong>Exam:</strong>
  <%= @grade.exam %>
</p>

<p>
  <strong>Score:</strong>
  <%= @grade.score %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @grade.feedback %>
</p>

<%= link_to 'Edit', [:edit, @course, @exam, @grade] %> |
<%= link_to 'Back', course_exam_grades_path %>
