<p>
  <strong>Student:</strong>
  <%= @grade.student.full_name %>
</p>

<p>
  <strong>Exam:</strong>
  <%= @grade.exam.title %>
</p>

<p>
  <strong>Score:</strong>
  <%= best_in_place [@course, @exam, @grade], :score %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= best_in_place [@course, @exam, @grade], :feedback, :as => :input, :nil => "Click me to add content!" %>
</p>

<%= link_to 'Edit', [:edit, @course, @exam, @grade] %> |
<%= link_to 'Back', course_exam_grades_path %>
