<%= form_for(@guardian) do |f| %>
  <% if @guardian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guardian.errors.count, "error") %> prohibited this guardian from being saved:</h2>

      <ul>
      <% @guardian.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset>
    <legend>Personal infos</legend>

      <div class="row">
        <div class="medium-6 columns">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
        <div class="medium-6 columns">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
      </div>
    
      <div class="row">
        <div class="medium-4 columns">
          <%= f.label :phone %>
          <%= f.text_field :phone %>
        </div>
        <div class="medium-4 columns">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <div class="medium-4 columns">
          <%= f.label :occupation %>
          <%= f.text_field :occupation %>
        </div>
      </div>
    
  </fieldset>

  <fieldset>
    <legend>Personal infos</legend>

      <div class="row">
        <div class="large-6 columns">
          <%= f.label :students %>
          <%= f.collection_select :student_ids, Student.all, :id, :full_name, {}, {class: "chosen-select", multiple: true} %>
        </div>
      </div>
    <br>
      <div class="row">
        <div class="medium-4 columns">
          <%= f.label :relationship_to_student %>
          <%= f.text_field :relation %>
        </div>
      </div>
    
  </fieldset>

  <div class="actions">
    <%= f.submit class:"button success radius" %>
  </div>
<% end %>
