<% provide(:title, @guardian.full_name) %>

<div class="page-title">
  <h1><%= @guardian.full_name %></h1>
</div>

<p>
  <strong>Name:</strong>
  <%= @guardian.name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @guardian.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @guardian.last_name %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @guardian.relation %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @guardian.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guardian.email %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @guardian.occupation %>
</p>

<p>
  <strong>Children:</strong>
  <%= @guardian.students.map{ |student| link_to student.full_name, student }.join(', ').html_safe %>
</p>

<%= link_to 'Edit', edit_guardian_path(@guardian) %> |
<%= link_to 'Back', guardians_path %>
