<%= fields_for :guardians do |guardian_form| %>
  <div class="row">
    <div class="medium-4 columns">
      <%= guardian_form.label :first_name %>
      <%= guardian_form.text_field :first_name %>
    </div>
    <div class="medium-4 columns">
      <%= guardian_form.label :last_name %>
      <%= guardian_form.text_field :last_name %>
    </div>
    <div class="medium-4 columns">
      <%= guardian_form.label :relationship %>
      <%= guardian_form.text_field :relation %>
    </div>
  </div>

  <div class="row">
    <div class="medium-4 columns">
      <%= guardian_form.label :phone %>
      <%= guardian_form.text_field :phone %>
    </div>
    <div class="medium-4 columns">
      <%= guardian_form.label :email %>
      <%= guardian_form.text_field :email %>
    </div>
    <div class="medium-4 columns">
      <%= guardian_form.label :occupation %>
      <%= guardian_form.text_field :occupation %>
    </div>
  </div>
<% end %>