<% provide(:title, 'Students Directory') %>

<div class="page-title">
  <h1>
    Students Directory
  </h1>
</div>
<a href="#" data-reveal-id="myModal" class="button radius">Add New Student</a>

    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <%= render "form" %>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
<br>

<table>
  <thead>
    <tr>
      <th width="60%">Name</th>
      <th>Class</th>
      <th width="10%" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.full_name, student %></td>
        <td><%= student.group.group_code %></td>
        <td><%= link_to '', edit_student_path(student), class: 'fa fa-pencil-square-o' %></td>
        <td><%= link_to '', student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash-o' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Student', new_student_path, class: "button radius" %>

<br>
