<% provide(:title, @student.full_name) %>

<div class="page-title clearfix">
  <h1><%= @student.full_name %> - 
    <%= link_to @student.group.group_code, @student.group %>
    <span class="right">
      <% if can? :update, @student %>
      <%= link_to 'Edit', edit_student_path(@student) %>  | 
      <% end %>
      <%= link_to 'View all students', students_path %>
    </span>
  </h1>
</div>

<%= render 'student_tab' %>

<div class="tabs-content">
  <div class="content active" id="overview">
    <%= render 'overview' %>
  </div>
  <div class="content" id="bio">
    <%= render 'student_bio' %>
  </div>
  <div class="content" id="attendances">
    <%= render 'student_attendances' %>
  </div>
  <div class="content" id="courses">
    <%= render 'student_courses' %>
  </div>
  <div class="content" id="grades">
    <%= render 'student_grades' %>
  </div>
  <div class="content" id="report_cards">
    <p>Link to download PDF report cards</p>
  </div>
  <div class="content" id="notes">
    <p>All notes on a student</p>
  </div>
</div>