<%= form_for(@course_category) do |f| %>
  <% if @course_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_category.errors.count, "error") %> prohibited this course_category from being saved:</h2>

      <ul>
      <% @course_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    
      <div class="row">
        <div class="medium-6 columns">
          <div class="field">
            <%= f.label :category_title %><br>
            <%= f.text_field :cc_name %>
          </div>
        </div>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit class: "button success radius" %> &nbsp;&nbsp;
    <%= link_to 'Cancel', @course_category, class: "button secondary radius" %>
  </div>
<% end %>
