<% provide(:title, @course_category.cc_name) %>

<div class="page-title clearfix">
  <h1><%= @course_category.cc_name %> <span class="right"><%= link_to 'Edit', edit_course_category_path(@course_category) %> | <%= link_to 'View all', course_categories_path %></span></h1>
</div>

  <% @course_category.courses.each do |course| %>
    <div class="panel">
      <h5><%= link_to course.course_name, course %></h5>
    </div>
  <% end %>
<br>
<div class="clearfix">
  <%= link_to 'Delete category', @course_category,  class: "right button alert tiny radius", method: :delete, data: { confirm: 'Are you sure?' } %>
</div>