<% provide(:title, 'Periods') %>

<div class="page-title">
  <h1><%= @period.period_title %></h1>
</div>

<p class="panel">
  Start time:
  <strong><%= @period.start_time.strftime('%H:%M') %></strong>
</p>

<p class="panel">
  End time:
  <strong><%= @period.end_time.strftime('%H:%M') %></strong>
</p>

<p class="panel">
  Weekday:
 <strong><%= @period.weekday.strftime('%A') %></strong>
</p>


<%= link_to 'Edit', edit_period_path(@period), class: 'button radius secondary' %> |
<%= link_to 'Back', periods_path, class: 'button radius secondary' %>
