<%= form_for @group, :html => {:id => "addSubmit"} do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this class from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_name %><br>
    <%= f.text_field :group_name %>
  </div>
  <div class="field">
    <%= f.label :group_code %><br>
    <%= f.text_field :group_code %>
  </div>
  <div class="field">
    <%= f.label :room %><br>
    <%= f.text_field :room %>
  </div>
  <div class="actions">
    <%= f.submit class: 'button success tony radius', :id => "addSubmit" %> &nbsp;&nbsp;
    <%= link_to 'Cancel', @group, class: 'button secondary tony radius' %> 
    <%= link_to 'Delete Class', @group, class: 'right button alert tony radius', method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
