<% provide(:title, 'Classes') %>

<div class="page-title">
  <h1>Classes</h1>
</div>

<a href="#" data-reveal-id="myModal" class="button radius">Add A Class</a>

    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      
<!--    Form starts    -->
      
        <%= form_for(@group) do |f| %>
          <% if @group.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@group.errors.count, "error") %> prohibited this class from being saved:</h2>

              <ul>
              <% @group.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :group_name, 'Class Name' %><br>
            <%= f.text_field :group_name %>
          </div>
          <div class="field">
            <%= f.label :group_code, 'Short Name' %><br>
            <%= f.text_field :group_code %>
          </div>
          <div class="field">
            <%= f.label :room %><br>
            <%= f.text_field :room %>
          </div>
          <div class="actions">
            <%= f.submit class: 'button success tony radius' %> &nbsp;&nbsp;
            <%= link_to 'Close', groups_url, class: 'button secondary tony radius' %> 
          </div>
        <% end %>

<!--   End of form     -->
      
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
<br>

<table class="responsive">
  <thead>
    <tr>
      <th>Class Name</th>
      <th>Class Code</th>
      <th>Room</th>
    </tr>
  </thead>

  <script type="type/html" id="group_template">
    <tr>
      <td><a href="./groups/${id}">${group_name}</a></td>
      <td>${group_code}</td>
      <td>${room}</td>
    </tr>
  </script>
  <tbody id="groups">
      
  </tbody>
</table>

<br>