<% provide(:title, 'Classes') %>

<div class="page-title">
  <h1>Classes</h1>
</div>

<%= link_to 'Create a new class', new_group_path, class: 'button tiny radius' %>
<br>

<table class="responsive">
  <thead>
    <tr>
      <th>Class name</th>
      <th>Class code</th>
      <th>Room</th>
      <th width="10%" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.group_name, group %></td>
        <td><%= group.group_code %></td>
        <td><%= group.room %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
