<% provide(:title, @group.group_name) %>

<div class="page-title clearfix">
  <h1><%= @group.group_name %><span class="right"><%= link_to 'Edit', edit_group_path(@group) %> |
    <%= link_to 'All Classes', groups_path %></span></h1>
</div>

<%= render 'group_tab' %>

<div class="tabs-content">
  <div class="content active" id="overview">
    <%= render 'overview' %>
  </div>
  <div class="content" id="students">
    <%= render 'group_student_list' %>
  </div>
  <div class="content" id="attendances">
    <%= render 'group_attendances' %>
  </div>
  <div class="content" id="courses">
    <%= render 'group_courses' %>
  </div>
</div>
