<% provide(:title, @group.group_name) %>

<div class="page-title">
  <h1><%= @group.group_name %><span class="right"><%= link_to 'Edit', edit_group_path(@group) %> |
    <%= link_to 'All Classes', groups_path %></span></h1>
</div>

<%= render 'group_tab' %>

<div class="tabs-content">
  <div class="content active" id="panel1">
    <%= render 'overview' %>
  </div>
  <div class="content" id="panel2">
    <%= render 'group_student_list' %>
  </div>
  <div class="content" id="panel3">
    <p>Taking attendance will go here</p>
  </div>
  <div class="content" id="panel4">
    <%= render 'group_courses' %>
  </div>
</div>
