<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
      <div class="row">
        <div class="medium-6 columns">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
        <div class="medium-6 columns">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <%= f.label :date_of_birth %>
          <%= f.text_field :date_of_birth, { class: "datepicker" } %>
        </div>
        <div class="medium-6 columns">
          <%= f.label :gender %>
          <%= f.text_field :gender %>
        </div>
      </div>
  </fieldset>

  <fieldset>
    <div class="row">
        <div class="medium-12 columns">
          <%= f.label :username %>
          <%= f.text_field :username, autofocus: true %>
        </div>
    </div>
    <div class="row">
      <% if @current_method == "new" %>
        <div class="medium-6 columns">
            <%= f.label :password %>
            <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="medium-6 columns">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      <% end %>
    </div>
  </fieldset>


  <fieldset>
        <div class="row">
          <% for role in Role.where(id: 1..4) %>
          <div class="medium-6 columns">
            <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
            <%= role.name %>
          </div>
          <% end %>
    </div>
  </fieldset>


  <fieldset>
      <div class="row">
        <div class="medium-6 columns">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="medium-6 columns">
          <%= f.label :phone %>
          <%= f.text_field :phone %>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <%= f.label :address_line %>
          <%= f.text_field :address_line %>
        </div>
        <div class="medium-6 columns">
          <%= f.label :city %>
          <%= f.text_field :city %>
        </div>
      </div>
  </fieldset>

  <div class="actions">
    <%= f.submit class: "button success radius" %>
  </div>
<% end %>
