<% provide(:title, @user.full_name) %>

<div class="page-title clearfix">
  <h1><%= @user.full_name %></h1>
</div>

<%= render 'tabs' %>

<div class="tabs-content">
  <div class="content active" id="panel1">
    <%= render 'bio' %>
  </div>
  <div class="content" id="panel2">
    <%= render 'form' %>
  </div>
  <div class="content" id="panel3">
    <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel4">
    <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
  </div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
