<%= form_for [@course, @exam_category] do |f| %>
  <% if @exam_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam_category.errors.count, "error") %> prohibited this exam_category from being saved:</h2>

      <ul>
      <% @exam_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </fieldset>
  <div class="actions">
    <%= f.submit class: 'button success tiny radius' %>
  </div>
<% end %>
