<p id="notice"><%= notice %></p>

<h1>Listing Exam Categories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exam_categories.each do |exam_category| %>
      <tr>
        <td><%= exam_category.title %></td>
        <td><%= link_to 'Show', exam_category %></td>
        <td><%= link_to 'Edit', edit_exam_category_path(exam_category) %></td>
        <td><%= link_to 'Destroy', exam_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exam category', new_exam_category_path %>
