<% provide(:title, @exam_category.title) %>

<div class="page-title clearfix">
  <h1><%= @exam_category.title %><span class="right"><%= link_to 'Edit', edit_course_exam_category_path %></span></h1>
</div>

<table>
  <thead>
    <tr>
      <th>Exams</th>
      <th width="30%" >Dates<th>
    </tr>
  </thead>

  <tbody>
    <% @exam_category.exams.each do |exam| %>
      <tr>
        <td><%= link_to exam.title, [@course, exam] %></td>
        <td><%= exam.exam_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Back', course_exam_categories_path, class: 'button secondary tiny radius' %>
