<p>
  <strong>Lesson title:</strong>
  <%= @lesson.lesson_title %>
</p>

<p>
  <strong>Lesson description:</strong>
  <%= @lesson.lesson_description %>
</p>

<p>
  <strong>Lesson start date:</strong>
  <%= @lesson.lesson_start_date %>
</p>

<p>
  <strong>Lesson end date:</strong>
  <%= @lesson.lesson_end_date %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @lesson.attachment %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @lesson.chapter_id %>
</p>

<%= link_to 'Edit', edit_course_lesson_path(@course, @lesson) %> |
<%= link_to 'Back', course_lessons_path %>
