<h5>Exams List 
  <span class="right">
    <%= link_to '<i class="fa fa-plus"></i>&nbsp; Add Exams'.html_safe, new_course_exam_path(@course, @exam) %> &nbsp; &nbsp;
    <%= link_to '<i class="flaticon-settings49"></i>&nbsp; Exams Categories'.html_safe, course_exam_categories_path(@course, @exam_categories) %>
  </span>
</h5>
<br>



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Date</th>
      <th width="5%" colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @course.exams.each do |exam| %>
      <tr>
        <td><%= link_to exam.title, [@course, exam] %></td>
        <td><%= exam.exam_category.title %></td>
        <td><%= exam.exam_date %></td>
        <td><%= link_to '', [@course, exam], method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash-o' %></td>
      </tr>
    <% end %>
  </tbody>
</table>