<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    
      <div class="row">
        <div class="medium-6 columns">
          <%= f.label :course_name %>
          <%= f.text_field :course_name %>
        </div>
        <div class="medium-6 columns">
          <%= f.label :course_code %>
          <%= f.text_field :course_code %>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <%= f.label :course_category_id %>
          <%= f.collection_select :course_category_id, CourseCategory.all, :id, :cc_name, {}, {class: "chosen-select", include_blank: true, multiple: false} %>
        </div>
        <div class="medium-6 columns">
          <%= f.label :group_id %>
          <%= f.collection_select :group_id, Group.all, :id, :group_name, {}, {class: "chosen-select", include_blank: true, multiple: false} %>
        </div>
      </div>
    
  </fieldset>

  <div class="actions">
    <%= f.submit class: "button success radius" %>
  </div>
<% end %>
