<% provide(:title, 'All Courses') %>

<div class="page-title">
  <h1>Courses</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Class</th>
      <th width="20%" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.course_name, course %></td>
        <td><%= link_to course.group.group_name, course.group %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create a new course', new_course_path, class: 'button tiny radius' %>
