<% provide(:title, @course.course_name) %>

<div class="page-title clearfix">
  <h1><%= @course.course_name %> <span class="right"><%= link_to 'Edit', edit_course_path(@course) %>  | 
    <%= link_to 'View all courses', courses_path %></span></h1>
</div>

<%= render 'course_tab' %>

<div class="tabs-content">
  <div class="content active" id="overview">
    <%= render 'overview' %>
  </div>
  <div class="content" id="students">
    <%= render 'course_students' %>
  </div>
  <div class="content" id="curriculum">
    <%= render 'course_curriculum', locals: {variable: @chapters} %>
  </div>
  <div class="content" id="exam">
      <%= render 'exam_tab' %>
  </div>
</div>


