<% provide(:title, @course.course_name) %>

<div class="page-title clearfix">
  <h1><%= @course.course_name %> <span class="right"><%= link_to 'Edit', edit_course_path(@course) %>  | 
    <%= link_to 'View all courses', courses_path %></span></h1>
</div>

<%= render 'course_tab' %>

<div class="tabs-content">
  <div class="content active" id="panel1">
    <%= render 'overview' %>
  </div>
  <div class="content" id="panel2">
    <%= render 'course_students' %>
  </div>
  <div class="content" id="panel3">
    <p>Taking attendance will go here</p>
  </div>
  <div class="content" id="panel4">
    MUST FIND HOW TO REDNER OTHER CONTROLERS PARTIAL OR PAGES
  </div>
  <div class="content" id="panel5">
    <p>Exams and Grades Recording</p>
  </div>
</div>


