
<%= form_for [@course, @chapter.with_blank_lessons] do |f| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <h5>Chapter</h5>
    <hr>
    <div class="row">
      <div class="medium-8 columns">
        <%= f.label :chapter_title %>
        <%= f.text_field :chapter_title %>
      </div>
      <div class="medium-2 columns">
        <%= f.label :starts %>
        <%= f.text_field :chapter_start_date, { class: "datepicker" } %>
      </div>
      <div class="medium-2 columns">
        <%= f.label :ends %>
        <%= f.text_field :chapter_end_date, { class: "datepicker" } %>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <%= f.label :chapter_description %>
        <%= f.text_area :chapter_description %>
      </div>
    </div>
    <p>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, "Remove Chapter" %>
    </p>

    <%= f.fields_for(:lessons) do |builder| %>
    <%= render 'lessons_fields', f: builder %>
    <% end %>
  </fieldset>
    
  <div class="actions">
    <%= f.submit class: "button success tiny radius" %>
  </div>
<% end %>
