<% provide(:title, 'Curriculum') %>

<br>
<h5>Curriculum <span class="right secondary-text"><%= link_to 'Add Chapter', new_course_chapter_path %></span></h5>
<br>

<br>

<% @chapters.each do |chapter| %>
<div class="panel clearfix">
  <h6>
    <%= link_to chapter.chapter_title, course_chapter_path(@course, chapter) %>
    <span class="right secondary-text">
      from: <%=chapter.chapter_start_date.to_time.strftime('%a %e %b %Y') %> - 
      to: <%= chapter.chapter_end_date.to_time.strftime('%a %e %b %Y') %></span>
  </h6>
  <p class="right">
    <% if can? :update, @chapter %>
      <%= link_to 'Edit', edit_course_chapter_path(@course, chapter) %> | 
    <% end %>
    <% if can? :destroy, @course %>
      <%= link_to 'Remove', course_chapter_path(@course, chapter), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
</div>
<% end %>



