<div class="panel">

  <p><strong>Description:</strong><br>
    <%= @exam.description %>
  </p>

  <p>
    <strong>Exam date:</strong>
    <%= @exam.exam_date %>
  </p>

  <p>
    <strong>Exam category:</strong>
    <%= @exam.exam_category.title %>
  </p>
  
  <p>
    <strong>Course:</strong>
    <%= %>
  </p>

  <p>
    <strong>Group:</strong>
    <%=  %>
  </p>

</div>

<%= link_to 'Edit', edit_course_exam_path, class: 'button success tiny radius' %>