<%= form_for [@course, @exam] do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
  <div class="row">
    <div class="medium-6 columns">
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <div class="field">
        <%= f.label :exam_date %>
        <%= f.text_field :exam_date, class: 'datepicker' %>
      </div>
    </div>
    <div class="medium-6 columns">
      <div class="field">
        <%= f.label :exam_category_id %>
        <%= f.collection_select :exam_category_id, ExamCategory.all, :id, :title, {}, {class: "chosen-select", include_blank: true, multiple: false} %>
      </div>
    </div>
  </div>
</fieldset>
  <div class="actions">
    <%= f.submit class: 'button success tiny radius' %>
  </div>
<% end %>
