<% provide(:title, 'Editing Exam') %>

<br>
<h5>Exams List 
  <span class="right">
    <%= link_to 'Add Exam', new_course_exam_path %> | 
    <%= link_to 'Back', course_path(@course) %>
  </span>
</h5>
<br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= link_to exam.title, [@course, exam] %></td>
        <td><%= link_to exam.exam_category.title, [@course, @exam_category] %></td>
        <td><%= exam.exam_date %></td>
        <td><%= link_to 'Delete', [@course, exam], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
