<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @attendance.student_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @attendance.course_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @attendance.group_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @attendance.status %>
</p>

<p>
  <strong>Taken at:</strong>
  <%= @attendance.taken_at %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @attendance.employee_id %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
