<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">COLLEGE BENEDICTE</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <% if user_signed_in? %>
        <a href="#">Hi <strong><%= current_user.first_name %></strong></a>
          <ul class="dropdown">
            <li><%= link_to 'My Profile', current_user %></li>
            <li><%= link_to 'Update Profile', edit_user_registration_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          </ul>
        <% else %>
        <%= link_to 'Login', new_user_session_path %>
        <% end %>
      </li>
    </ul>
  </section>
</nav>