  <ul id="menu">
    <li><%= link_to '<i class="flaticon-home78"></i>&nbsp; Dashboard'.html_safe, current_user %></li>
    <li><%= link_to '<i class="flaticon-people"></i>&nbsp; Students'.html_safe, students_path %></li>
    <li><%= link_to '<i class="flaticon-teacher17"></i>&nbsp; Teachers'.html_safe, employees_path %></li>
    <li><%= link_to '<i class="flaticon-calendar62"></i>&nbsp; Calendar'.html_safe %></li>
    <li><%= link_to '<i class="flaticon-maths5"></i>&nbsp; Classes'.html_safe, groups_path %></li>
    <li><%= link_to '<i class="flaticon-persons8"></i>&nbsp; Courses'.html_safe, courses_path %></li>
    <li><%= link_to '<i class="flaticon-settings49"></i>&nbsp; Settings'.html_safe, users_path %></li>
  </ul>