<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Hinata" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row full-width">
      <%= render "layouts/main_menu" %>
      
      <div class="medium-2 columns side-nav">
        <%= render "layouts/top_menu" %>
      </div>
      <div class="medium-10 columns content-wrapper shadow">
          <%= yield %>
          <%= render "layouts/footer" %>
      </div>
    </div>
    
    
    <script>
    $(function(){
        $('#menu').slicknav();
    });
    </script>
  </body>
</html>
