<!DOCTYPE html>
<html manifest="/application.manifest" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>  <!-- to disable turbolink (aka caching) add data-no-turbolink  to the body tag-->
    <div class="row full-width">
      <% if user_signed_in? %>
      <%= render "layouts/main_menu" %>
      
      <div class="medium-2 columns side-nav">
        <%= render "layouts/side_menu" %>
      </div>
      <div class="medium-10 columns content-wrapper shadow">
          <% flash.each do |key, value| %>
            <div data-alert class="alert-box alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
          <%= render "layouts/footer" %>
          <%= debug(params) if Rails.env.development? %>
      </div>
      <% else %>
      <%= render template: 'welcome/index' %>
      <% end %>
    </div>
    
    
    <script>
    $(function(){
        $('#menu').slicknav();
    });
    </script>
  </body>
</html>
